<?xml version="1.0"?>
<!--
/**
 * Mage Extension
 *
 * @category     Mage
 * @package      Mage_Import
 * @author       Mage Team
 * @copyright    Copyright (c) 2018 Mage (http://www.mage.com)
 * @license      Mage
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mage_Import::import_configuration" title="Import" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
