<?xml version="1.0"?>
<!--
/**
 * Mage Extension
 *
 * @category     Mage
 * @package      Mage_Import
 * @author       Mage Team
 * @copyright    Copyright (c) 2019 Mage (http://www.mage.com)
 * @license      Mage
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="import" frontName="import">
            <module name="Mage_Import" before="Magento_Backend" />
        </route>
    </router>
</config>
